# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.KiwiJam21.iml
# Datasource local storage ignored files
/../../../../../../:\GitHub\KiwiJam21\.idea\.idea.KiwiJam21\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
